body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #00465c;
  }
  h1{
    color:white;
    text-align: center;
  }
  form {
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: #000000;
    color: white;
  }

  @media (max-width: 768px){
    h1{
        font-size: 18px;
    }
    table{
        font-size: 10px;
    }
    input[type="text"], input[type="email"], input[type="tel"],textarea
    {
        width: 41vw; 
    }
    input[type="number"]
    {
        width: 20vw; 
    }
  }